* > * {
  box-sizing: border-box;
  max-width: 100vw;
}

a {
  text-decoration: none;
  color: black;
}

.main {
  width: 100rem;
  flex-shrink: 0;
}
.line-break {
  color: rgba(0, 0, 0, 0.2);
}

.menu {
  color: white;
}

.aboutImgHeader {
  background-image: url(./assets/pexels-olia-danilevich-4974914.jpg);
  min-height: calc(100vh - 120px);
}

.yellowBox {
  width: 58vw;
  height: 58vw;
}

.aboutImg .rightImg {
  background-image: url(./assets/pexels-linkedin-sales-navigator-3867842.jpg);
  width: 40vw;
  height: 30vw;
  vertical-align: middle;
}

.aboutImg .leftImg {
  background-image: url(./assets/pexels-fauxels-3184357.jpg);
  width: 40vw;
  height: 40vw;
  vertical-align: middle;
}

.aboutImg {
  padding: 9vw 0;
}

.bgImg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.aboutImg2 {
  background-image: url(./assets/pexels-andrea-piacquadio-927022.jpg);
  width: 65vw;
  height: 30vw;
}

.greenBox {
  width: 65vw;
  height: 78vw;
}

.aboutImg3 .rightImg {
  background-image: url(./assets/pexels-andrea-piacquadio-3760069.jpg);
  width: 40vw;
  height: 40vw;
  vertical-align: middle;
  margin-left: 8vw;
}

.aboutImg3 .leftImg .img1 {
  background-image: url(./assets/pexels-jopwell-2422293.jpg);
  width: 40vw;
  height: 30vw;
  vertical-align: middle;
  margin-bottom: 5vw;
}
.aboutImg3 .leftImg .img2 {
  background-image: url(./assets/pexels-fauxels-3182781.jpg);
  width: 40vw;
  height: 30vw;
  vertical-align: middle;
}

.aboutImg3 .leftImg {
  vertical-align: middle;
}

.aboutImg3 {
  padding: 6.5vw 0;
}

.aboutImg4 {
  background-image: url(./assets/pexels-philip-boakye-2203495.jpg);
  width: 65vw;
  height: 30vw;
}

.purpleBox {
  width: 58vw;
  height: 58vw;
}

.aboutImg .leftImg3 {
  background-image: url(./assets/pexels-cottonbro-studio-7439129.jpg);
  height: 30vw;
  vertical-align: middle;
}

.blueBox {
  max-height: max-content;
  min-height: 30vw;
}
